# Built files
*.apk
*.aar
*.ap_
*.aab

# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio files
.idea/
*.iml
.navigation/
captures/
local.properties
*.orig
*.log

# Keystore files
*.jks
*.keystore

# External native build
.externalNativeBuild/
.cxx/

# macOS
.DS_Store

# Windows
Thumbs.db

# Firebase
google-services.json
google-services-default.json

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Debug logs
*.log